PORT=4000
URL=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.rm7pn.mongodb.net/production?retryWrites=true&w=majority
IMG=https://pulseplaydigital.sgp1.cdn.digitaloceanspaces.com/

# Email Providers
SENDGRID_API_KEY=
RESEND_USER=resend
RESEND_API_KEY=

# AI Providers
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=

# SMS / Communication
VONAGE_API_KEY=
VONAGE_API_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Storage (DigitalOcean Spaces & AWS S3)
DO_SPACES_ENDPOINT=sgp1.digitaloceanspaces.com
DO_SPACES_KEY=
DO_SPACES_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
